.testimonial { 
  background-color: #131313; 
  padding: 40px 20px; 
  text-align: center; 
} 

.testimonial h2 { 
  font-family: var(--heading-font-family); 
  font-size: var(--heading-font-size-xl); 
  color: var(--background-color); 
  margin-bottom: 40px; 
}

.testimonial-wrapper {
  overflow: hidden;
  position: relative;
  padding: 20px 0;
}

.testimonial-scroll {
  display: flex;
  transition: transform 0.5s linear;
}

.testimonial-card {
  background-color: rgba(103 43 146);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0 0 0);
  min-width: 300px;
  text-align: left;
}

.testimonial-card picture {
  display: block;
  margin-bottom: 10px;
}

.testimonial-card img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.testimonial-content {
  color: #fff;
}

.testimonial-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial-info {
  display: flex;
  flex-direction: column;
}

.testimonial-header img {
  margin: 0;
}

.testimonial-header a {
  color: var(--link-color);
  text-decoration: none;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
}

.testimonial-header a:hover {
  text-decoration: underline;
}

.testimonial-content h3 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-xs);
  margin: 0;
  color: #fff; 
}

.testimonial-content p {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  margin: 5px 0;
  color: #fff;
}

.testimonial-scroll.top {
  margin-bottom: 20px;
}

.testimonial-scroll.bottom {
  margin-top: 20px;
}
