.accordion-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px 0;
}

.accordion-item:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.accordion-header {
  background-color:  color(display-p3 0.0078 0.0431 0.0235);
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.2s;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header:hover,
.accordion-header[aria-expanded="true"] {
  background-color:  color(display-p3 0.0078 0.0431 0.0235);
}

.accordion-content {
  padding: 15px;
  display: none;
  background-color: black;
  color: white;
}

.accordion-title {
  flex: 1;
}

.accordion-icon {
  margin-left: 10px;
  transition: transform 0.2s;
}
