.product-hero > div {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 50px;
    border-radius: 15px;
    gap: 20px;
}

.product-hero h1 {
    font-size: var(--acs-copilot-font-size-h1);
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-hero > div > div {
    flex: 2;
}

.product-hero.left > div {
    flex-direction: row;
}

.product-hero.right > div {
    flex-direction: row-reverse;
}

/* Product Hero Centre - Container */
.product-hero.centre {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    border-radius: 15px;
    width: 97%;
}

.product-hero.centre > div {
    background: transparent;
}


.product-hero > div > div:last-of-type {
    flex: 1;
}

/* Background Image or Video - Set as Full Background */
.product-hero.centre > div > div:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Box around image */
.product-hero picture, .product-hero video {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    box-shadow: var(--box-shadow-neon);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Ensure Image and Video Cover the Entire Background */
.product-hero.centre picture,
.product-hero.centre img,
.product-hero.centre video {
    width: 98%;
    height: 98%;
    object-fit: cover;
    filter: brightness(70%); /* Darkens the background for text readability */
    border-radius: 15px;
}

/* Content Box - Ensures Text is Visible Over the Background */
.product-hero.centre > div > div:last-of-type {
    z-index: 1;
    text-align: center;
    max-width: 800px;
    padding: 20px;
}

/* Hover effect */
.product-hero picture:hover, .product-hero video:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow-neon-hover);
}
