.banner {
  background-color: #000; /* Black background */
  padding: 20px;
  text-align: center;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff; /* White text */
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Adjust spacing between 'Banner Section' and 'Try it now' */
}

.white-text {
  color: #fff; /* White text for Banner and Section */
}

.multi-color-text {
  background: linear-gradient(90deg, rgb(241 155 169) rgb(147 147 205)); /* Corrected modern color function notation */
  background-clip: text; /* Modern approach, no vendor prefix needed */
  color: transparent; /* Modern way to apply text gradient */
}

.banner p {
  color: #fff; /* White text */
  font-size: 1em;
  margin: 0.5em 0;
}

.banner-link a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9em; /* Reduced font size */
  border-radius: 8px; /* Reduced border radius */
  background: linear-gradient(90deg, rgba(255 0 119), rgba(83 48 208 )); /* Fixed alpha value to 100% */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  position: relative;
  transition: background 0.3s ease;
}

.banner-link a:hover {
  background: linear-gradient(90deg, rgba(0 119 255) rgba(255 0 119)); /* Fixed alpha value to 100% */
}

.banner-link a .cta-icon {
  display: inline-block;
  font-size: 0.8em; /* Reduce the icon size if needed */
}
