.logo {
  background-color: var(--dark-color);
  text-align: center;
  padding: 20px 0;
}

.logo .logo-header {
  margin-bottom: 20px;
}

.logo .logo-header h2 {
  font-size: var(--heading-font-size-xs);
  color: var(--background-color);
}

.logo .logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo .logo-container img {
  max-height: 50px;
  max-width: 100px;
}

@media (max-width: 600px) {
  .logo .logo-container img {
    max-height: 30px;
    max-width: 70px;
  }
}
