.logo {
  padding: 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.logo h2 {
  position: relative;
  margin-bottom: 60px;
}

.logo .logo-slideshow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation: slide-left 20s linear infinite;
  will-change: transform;
}

.logo .logo-card {
  flex: 0 0 auto;
  margin: 0 10px;
  background-color: var(--light-color);
}

.logo .logo-card img {
  width: 80px;
  height: 100px;
  object-fit: contain;
}

@media (width <= 600px) {
  .logo {
    padding: 10px;
  }

  .logo .logo-card img {
    width: 50px;
    height: 50px;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
