.logo {
  background-color: color(display-p3 0.0588 0.0157 0.0157);
  padding: 20px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.logo h2 {
  color: var(--background-color);
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-l);
  position: relative;
  cursor: pointer;
}

.logo h2:hover {
  text-decoration: underline;
}

.logo .logo-slideshow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation: slide-left 20s linear infinite;
  will-change: transform;
}

.logo .logo-card {
  flex: 0 0 auto;
  margin: 0 10px;
}

.logo .logo-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
@media (width <= 600px) {
  .logo {
    padding: 10px;
  }

  .logo .logo-card img {
    width: 50px;
    height: 50px;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
