.summary {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.summary h2{
  margin: 0;
  background: var(--background-link-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5.5rem;
  line-height: 1.2;
}

.summary-description {
  margin-top: 10px;
  font-style: italic;
}
 
/* Specific styles for summary positions */
.summary-container .summary-wrapper .summary.centre {
  text-align: center;
}
 
.summary-container .summary-wrapper .summary.left {
  text-align: left;
}
 
.summary-container .summary-wrapper .summary.right {
  text-align: right;
}
