footer .footer .default-content-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 4%;
  justify-content: flex-start;
}

footer .footer p {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: dimgray;
}

footer .footer p a {
  padding: 0 1.7%;
  color: dimgray;
}

footer .footer .default-content-wrapper > ul li {
  position: relative; /* Ensures ::before is positioned relative to each <li> */
  padding-left: 25px; /* Add space for the background image */
  list-style: none;
}

footer .footer .back-to-top-link {
  display: inline-block;
  position: relative;
  top: -22px;
  width: 20px; /* Adjust size as needed */
  height: 20px;
  background-image: url('../../icons/up-arrow-dark-theme.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 320px;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 20px 32px 24px;
  }

  footer .footer ul {
    font-size: 1.8rem;
  }
  
  footer .footer .default-content-wrapper > ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 0;
  }

  footer .footer .default-content-wrapper > ul li {
    padding: 0 0 2%;
    margin: 0;
    border-bottom: 2px solid var(--text-color);
  }

  footer .footer p {
    display: block;
    font-size: 1.6rem;
    text-align: center;
  }

  footer .footer .back-to-top-link {
    width: 24px;
    height: 24px;
    top: 20px;
    left: auto;
  }
}
