.feature-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  width: 100%;
  justify-content: center;
}

.feature {
  align-items: center;
  margin: 60px 50px 40px;
}

/* Video styling */
.feature video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow-neon);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.feature img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow-neon);
  position: relative;
  z-index: 2;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Swap text,
media position for even-numbered feature sections */
.feature:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}

/* Text content styling */
.feature:nth-child(even) .feature-content {
  width: 45%;
  padding: 20px;
  text-align: left;
}

.feature-content h2 {
  font-size: 2.5em;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.feature-content p {
  font-size: 1.3em;
  line-height: 1.8;
  font-style: italic;
}

/* Hover effect on video */
.feature video:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow-neon-hover);
}

/* Hover effect on image */
.feature img:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow-neon-hover);
}

/* Video alignment classes */
.feature.video-left {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 45px;
}

.feature.video-right {
  display: flex;
  justify-content: space-between;
  gap: 45px;
}

/* Media alignment classes */
.feature.media-left {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 70px;
}

.feature.media-right {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

/* Ensure videos and images in <main> are fully responsive */
.feature video:hover .feature video main video,
.feature img main img .feature img:hover {
  max-width: 100%;
  width: 90%;
  height: auto;
}

.media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature .text-container {
  flex: 1;
  padding: 20px;
}

.feature .content-container {
  flex: 1;
  padding: 20px;
}